<ng-container *ngIf="smallScreen; then modal; else dismissible"></ng-container>

<ng-template #modal>
  <mat-sidenav-container>
    <mat-sidenav #sidenav [disableClose]="false" [fixedInViewport]="true" mode="over">
      <app-navigation (closeItem)="smallScreen && sidenav.close()"></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template #dismissible>
  <div class="main-container">
    <app-toolbar (tapNavMenu)="sidenav.toggle()"></app-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav [disableClose]="false" mode="side">
        <app-navigation></app-navigation>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-template>
