mat-sidenav-container {
  height: 100vh;
}

.navigation-title {
  padding: 0 0 0 0.5em;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.child-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  overflow: scroll;
}
