<mat-sidenav-container class="main-content">
  <mat-sidenav #sidenav [disableClose]="false" [fixedInViewport]="true" [mode]="getMode()">
    <mat-nav-list>
      <mat-list-item (click)="smallScreen && sidenav.close()" routerLink="/" routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <h3 class="mat-h3" matLine>Diary</h3>
      </mat-list-item>
      <mat-list-item (click)="smallScreen && sidenav.close()" routerLink="/foods">
        <mat-icon matListIcon>grid_on</mat-icon>
        <h3 class="mat-h3" matLine>Foods</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="smallScreen && sidenav.close()" routerLink="/">
        <mat-icon matListIcon>settings</mat-icon>
        <h3 class="mat-h3" matLine>Settings</h3>
      </mat-list-item>
      <mat-list-item (click)="smallScreen && sidenav.close()" routerLink="/">
        <mat-icon matListIcon>feedback</mat-icon>
        <h3 class="mat-h3" matLine>Help & Feedback</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button (click)="sidenav.toggle()" color="basic" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <h6 class="mat-h6 navigation-title">Calorie Counter</h6>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="child-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
