.navigation-title {
  padding: 0 0 0 0.5em;
}

// small screen
@media (max-width: 959.99px) {
}

// wide screen
@media (min-width: 960px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  app-toolbar {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }

  mat-sidenav-container {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
