<div class="table-container">
  <mat-table [dataSource]="diary.consumedFoods">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
      {{ row }}
    </mat-row>

    <ng-container matColumnDef="food">
      <mat-header-cell *matHeaderCellDef> Food</mat-header-cell>
      <mat-cell *matCellDef="let consumedFood">
        <div>
          <div class="mat-title">{{ consumedFood.food.name }}</div>
          <div class="mat-subheading-1" style="font-weight: lighter">Calories
            100g: {{ consumedFood.food.calories }}</div>
          <div class="mat-subheading-1" style="font-weight: lighter">
            Carbs {{ consumedFood.food.carbs }}, protein {{ consumedFood.food.protein }},
            fat {{ consumedFood.food.fat }}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="calories">
      <mat-header-cell *matHeaderCellDef> Calories</mat-header-cell>
      <mat-cell *matCellDef> 50 grams</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="header-actions"> Actions</mat-header-cell>
      <mat-cell *matCellDef class="column-actions">
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
